{% extends 'base.html' %}
{% load static %}

{% block title %} User-Agent generator {% endblock %}

{% block greetings %}
    <div class="home">
        {% if user.is_authenticated %}
        <h2>List of available User Agents. Choose the right one for you </h2>
        {% else %}
        <h2>HI! Welcome to my application that allows you to simplify your interactions with the web.  For further work on the site you need to <strong><a class="nav-item" href="{% url 'login' %}">log in</a></strong> or <strong><a
                class="nav-item" href="{% url 'register' %}">registration</a></strong>. </h2>
        {% endif %}
    </div>

{% if user.is_authenticated %}
<div class="block-content">
    <ul>
        {% for ua in data %}
        <li>{{ ua.full_ua }}</li><hr>

        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock%}